@charset "UTF-8";

/*importação de fonte*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");




/*variaveis*/
:root {
    --preto: #fdfbfb;
    --dourado: #9ba6fa;
    --vermelho: #ff0000;
    --marrom: #57bcc3;
    --branco: #030303;
}

/*css reset(compatibilizar com todos navegadores)*/
* {
    margin: 0;
    padding: 0;
    border: 0;

}



/* Layout*/
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", ital;
    font-size: 1em;
    /* 1em=100%(tamanho padrão)*/
}

.container {
    margin: 0 auto;
    /* 0 auto centraliza o bloco*/
    display: flex;
   justify-content: space-between;
    align-items: center;

}

.botao {
    text-decoration: none;
    color: var(--branco);
    font-size: 1.3em;
    font-weight: 710;
    background-color: var(--marrom);
    width: 200px;
    padding: 10px 0px;
    border: 2px solid var(--preto);
    border-radius: 25px;
    align-self: center;
    margin-top: 30px;
}

/* Layout para 3 cartões */
.card {
    width: 338px;
    height: 520px;
    margin-top: 25px;
    background-color: var(--preto);
    border: 1px solid var(--dourado);
    border-radius: 25px;
    text-align: center;
}

.card img {
    border-radius: 25px 25px 0px 0px;
    width: 340px;
    height: 230px;
}

.card h3 {
    margin-top: 15px;
}

.card p {
    text-align: left;
    padding: 10px 30px 50px 30px;
}

.card a {
    padding: 10px 100px;
    border: 0;
    background-color: var(--marrom);
    color: var(--branco);
}


#topo{
    position: fixed;
    right: 10px;
    bottom: 50px;
    scroll-behavior: smooth;
}

/* fim do layout>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/*smathfone Portrait>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
/*******************cabeçalho*************************/
header {
    height: 80px;
    background-color: rgb(5, 5, 109);
}

#logo img {
    width: 80px;
    height: 80px;
    margin: 0px 0px 0px 7px;
}


#check {
    display: none;

}

/*efeito de deslizar o menu*/
/*se o check estiver "ticado",criar um estilo para ul*/
#check:checked~ul {
    right: 0px;
}

label {
    font-size: 3em;
    position: fixed;
    top: 25px;
    right: 15px;
    color: rgba(0, 0, 0, 0.5)
        /*0.5 =50% transparencia (0 a 1(100%) )*/
}

/*100vh equivale a 100% altura da tela*/
nav ul {
    height: 100vh;
    background-color: rgba(155, 166, 250, 0.5);
    list-style: none;
    /*remove os bullets*/
    width: 65%;
    position: fixed;
    top: 80px;
    right: -65%;
    transition: all 0.7s;
    z-index: 1;
}

nav ul li {
    padding:  15px 20px;
    /**/
    border-bottom: 1px solid var(--preto);
    text-align: right;
}

nav ul li a {
    color: var(--preto);
    text-decoration: none;
    /*remove sublinhado*/
}

/********************video background*****************/
main {
    height: 50vh;
    position: relative;


}

main video {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

main h1 {
    font-size: 2.5em;
}

main h2 {
    font-size: 1.2em;

}

.destaque {
   
    position: absolute;
    bottom: 0;
    /*background é diferente de background*/
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
}

main h1,
h2 {
    color: var(--preto);
    text-shadow: #000 0.05em 0.05em 0.05em;
    /*sombreamento do texto*/
    /*sombra*/
    margin: 5px 0px 0px 20px;
}
/*DESTAQUE>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>.*/
#destaque {
    background: url(img/background3.png);
    background-size: cover;
    background-position: center;
    /*espaçamento interno para não encostar na borda da tela do dispositivo*/
    padding: 100px ;

}
/*Atenção!! organizando o container após o destaque o estilo é aplicado apenas ao container da seção de destaque*/
/* FIm | Smartphone Portrait >>>>>>>>>>>>>>>>>>>>>>>*/
#destaque .container{
    flex-direction: column;
    align-items: center;
    display: flex;
}

/*para esconder a imagem usamos display: none no
containher da image| para exibir novamente em telas
maiores, usamos display:block*/
/*#imagemDestaque{
    /*display: none;
} */

#textodedestaque{
    color: var(--preto);
}

#textoDestaque h2{
    margin-bottom: 15px;
}
/*ATENÇÃO!!! detalhedo sinal ">" ref.ao elemento imediato*/
#textoDestaque p{
   margin-bottom: 15px;

}

.topicos{
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-right: 50px;
}

.topicos img{
    margin-right: 10px;
}

.topicos p {
    font-weight: 600;
}

#imgdestaque img {
    width: 200px;
    height: 200px;
    /*arrendondar uma imagem quadrada*/
    border-radius: 50%;
    margin-left: 50px;
}

/*>>>>>>>>>>>>>>>>>Sobre>>>>>>>>>>*/
#sobre .container {
    flex-direction: column;
    align-items: center;
}

#sobre {
    padding: 50px 15px;
    background-color: var(--branco);
}


#sobre h2 {
    color: var(--preto);
    margin-bottom: 20px;
    margin-left: 60px;
}

#sobre p {
    color: var(--preto);
    margin-left: 60px;
}

#video iframe {
    width: 300px;
    height: 190px;
    margin-top: 20px;
    
}


/********faixa de destaque***********/

#faixadedestaque{
    background: url(img/background3.png);
    background-size: cover;
    background-position: center;
    padding: 50px 15px;
   
}

#faixadedestaque .container{
    flex-direction: row-reverse;
}

#imagemfaixa img{
    margin-right: 15px;
    width:  60px;
    height: 70px;
   
}

#textodafaixa  h2{
    margin-left: 15px;
    color: var(--preto);
    margin-bottom: 15px;
}

#textodafaixa p{
    margin-left: 15px;
    color: var(--preto);
    margin-bottom: 50px;
}

#textodafaixa a{
    margin-left: 30px;
}

/****** Seção de conteúdo (cards) ******/
#conteudo {
    background-color: var(--branco);
    padding: 50px 0px;
}

#conteudo .container {
    
    flex-direction: column;
    align-items: center;
}

#conteudo h2 {
    color: var(--preto);
    margin-bottom: 25px;
}

#todos {
    color: var(--preto);
    margin-top: 50px;
    text-decoration: none;
    font-size: 1.25em;
    font-weight: 700;
}

.containerCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   
}


/*________________________Rodapé__________________*/
 #rodape{
    background-color: var(--branco);
    flex-direction: column;
 }
   

#textorodape{
    flex-direction: column;
    background-color: var(--branco);

    margin-left: 15px;
    color: var(--preto);
}


#redes img{
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

/*fim do smarthfone portrait>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/*Smarthfone Landscape>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width:576px) {


    #logo img {
        margin: 0px 0px 2px 13px;
    }

    .container {
        max-width: 750px;
    }

    nav ul {
        top: 80px;

    }
    
    /****** Sobre ******/
    #video iframe {
        width: 560px;
        height: 315px;
    }
    /****** destaque ******/
    #destaque .container {
        flex-direction: row;
    }

    #imagemDestaque {
        margin-right: 50px;
    }

    #imagemDestaque img {
        width: 256px;
        height: 256px;
    }

    /****** Sobre ******/
    #video iframe {
        width: 560px;
        height: 315px;
    }
}

/*fim do smarthfone landscape>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/*tablet portrati>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 768px) {

    .container {
        max-width: 850px;

    }

    header {
        height: 110px;


    }

    #logo img {
        width: 100px;
        height: 100px;
    }

    nav ul {
        top: 110px;
        width: 55%;
        right: -55%;
    }

    main {
        height: 80vh;
    }

    /**********banner**********/
    main h1 {
        font-size: 4em;
    }

    /****** Destaque ******/
    #imagemDestaque img {
        width: 440px;
        height: 440px;
    }
}

/*fim do tablet portrait>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/*tablet landscape>>>>>>>>>>*/
@media (min-width: 900px) {

    .container {
        max-width: 1100px;

    }
}

/*****fimdo tablet landscape>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

/*PCs / Notebooks>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 1100px) {
    .container {
        max-width: 1540px;
    }

    header {
        height: 150px;
    }

    #logo img {
        width: 108px;
        height: 158px;
    }

    /*transformação do menu*/
    label {
        display: none;

    }

    main video {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    nav ul {
        width: 100%;
        height: auto;
        position: static;
        background-color: transparent;
        /*remove a cor do site /deixa trensparente*/
    }

    nav ul li {
        float: left;
        border: 0;
    }

    nav ul li a {
        color: var(--dourado);
    }

    nav ul li a:hover {
        color: var(--vermelho);
    }

    main h1 {
        font-size: 5em;
    }
    
    /******* Sobre ******/
    #sobre .container {
        flex-direction: row;
        align-items: center;
    }

   

    #video iframe {
        margin: 0;
    }

    /***** Faixa de Destaque *****/
    #faixaDestaque {
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    }

    #faixaDestaque .container{
        flex-direction: row-reverse;
        align-items: center;
    }

    #imagemDestaque img{
        width: 360px;
        height: 360px;
        margin-left: 300px;
    }
    
}

/*fim do pc /notebook<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/


/*telas fullhd/4k/smarttv>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
@media (min-width: 1400px) {
    .container {
        max-width: 3041px;

    }

    header {
        height: 190px;

    }

    #logo img {
        width: 210px;
        height: 200px;
    }

    main video {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}


/*fim do fullhd/4k/smarttv<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/